[data-region] {
  min-height: 100px;
  padding: 15px;
  margin: 0 0 10px;
  border: 1px solid #d4d4d8;
  border-radius: .5rem;
  box-sizing: border-box;
}

[data-region] details {
  position: relative;
}

[data-region] details .dropbutton-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}

.region-title .place-element.button--small {
  margin-left: 20px;
}

[data-region] details {
  position: relative;
}

[data-region] details .dropbutton-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}

.region-title .place-element.button--small {
  margin-left: 20px;
}
