/*
 * @file
 * Provides the layout styles for layout_threecol_25_50_25.
 */
.layout.search_threecol_25_50_25 {
  display: flex;
  flex-wrap: wrap;
}

.layout.search_threecol_25_50_25 > .layout__region,
.layout.search_threecol_25_50_25 > .layout__region.second {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout.search_threecol_25_50_25 > .layout__region.first,
  .layout.search_threecol_25_50_25 > .layout__region.third {
    flex: 0 1 25%;
  }
  .layout.search_threecol_25_50_25 > .layout__region.second {
    flex: 0 1 50%;
  }
}
