{#
/**
 * @file
 * Default template for the settings of "Sorting" search ui element.
 *
 * Available variables:
 * - table: A table of options for each field in this endpoint.
 * - form: Any remaining form fields not included in the table.
 *   - description_markup: An overview for the settings of this endpoint.
 *
 * @see template_preprocess_search_api_decoupled_ui_sorting_table()
 *
 * @ingroup themeable
 */
#}
{{ form.description_markup }}
{{ table }}
{{ form|without('description_markup') }}
