/*
 * @file
 * Provides the layout styles for layout_twocol.
 */
.layout.search_twocol {
  display: flex;
  flex-wrap: wrap;
}

.layout.search_twocol>.layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
  .layout.search_twocol>.layout__region.first {
    flex: 1 0 auto;
  }

  .layout.search_twocol>.layout__region.second {
    flex: 1 0 50%;
  }
}
